{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
<!-- <div class="bp_post clear_fix " > -->
    <div class="bp_info">
        <div class="bp_author_wrap">
          
          <a class="bp_author" href="http://vk.com{{ post.author_url }}">{{ post.author }}</a>
          <a class="bp_date" href="http://vk.com{{post.date_url}}">{{ post.date }}</a>
          <a href="{{ post.url }}">{{ post.url }}</a>
          <!-- <span class="bp_topic"></span> -->
        </div>

        <div class="bp_content" id="bp_data-50442428_2">
            <div class="bp_text">{{ post.text|linebreaksbr }}</div>
        </div>
        <!-- <div><p><a href="{{ post.url }}">{{ post.url }}</a></p></div> -->

<!-- <button class="flat_button secondary button_light" onclick="FeedNotifications.hide(this, 45, 'efe9fa0b63920c7d46', event)">Скрыть</button> -->

    <form action="" method="get">
            <input type="hidden" name="id" value="{{ post.id }}" /> 
            <input type="hidden" name="action" value="hide" /> 
            <input type="submit" value = "Скрыть">
    </form>

        <!-- <div class="bp_edited_by"><a href="">Скрыть</a></div> -->
        <!-- <div class="bp_bottom clear_fix">
            <a href="#" class="like_wrap _like_wrap " onclick="return Wall.likeIt(this, '-50442428topic_comment2', '', event);" onmouseover="Wall.likesShow(this, '-50442428topic_comment2')">
            </a>
        </div>
 -->        
    </div>


    <br>

<!-- </div> -->


{% endfor %}
<!-- {% include "blog/about.html" %} -->

{% endblock content %}